body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
}

.image-container {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  color: black;
  padding: 20px;
}

.entry {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.details {
  padding: 0 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
